@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@font-face {
  font-family: SuprapowerSE;
  src: url("./assets/fonts/SuprapowerSE-Heavy.woff");
}

.hero {
  background: url('../public/contact.jpeg') no-repeat;
  background-size: cover;
}
.hero .wrap{
  background: #000000db;
}